<form class="form-signin" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <h2 class="form-signin-heading">Please sign in</h2>

  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" [(ngModel)]="model.username"  required autofocus>

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
